.heroBanner {
  padding: 3rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 54pt;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 2rem;
}

.subtitle {
  font-size: larger;
  font-weight: normal;
  line-height: 1;
}
/** In mobile view, reduce the padding */
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

/** In mobile view, reduce the padding */
@media screen and (max-width: 996px) {
  .title {
    font-size: 30pt;
    padding-bottom: 4rem;
  }
}

/** In mobile view, reduce the padding */
@media screen and (max-width: 996px) {
  .subtitle {
    font-size: larger;
    padding-bottom: 4rem;
  }
}

